html, body{
    
}

body{
    background-color: rgb(255, 231, 228);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f363d;
}

header ul li a{
    color: rgb(255, 231, 228);
}

h1{
    color: #70a9a1;
}

li{
    list-style-type: none;
}